input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blueviolet;
    border-radius: 4px;
}

input[type=text]:focus {
    background-color: rgba(46, 139, 86, 0.486);
}

input[type=submit] {
    background-color: pink;
    color: white;
    cursor: pointer;
}